body {
    margin:0px;
    background-color: aliceblue;
    font-family: 'Shadows Into Light', cursive;
}
.page-nav {
    background-color: #2196f3;
    border:1px solid black;
    position: relative;

}

.page-nav h1 {
    margin: 20px;
}
.page-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border:1px solid green;
}

.product-container{
    margin: 15px;
    padding: 2px 16px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    background-color: white;
}
.product-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.product-container img {
    width: 300px;
}

.product-container h1 {
    margin-bottom: 10px;
    margin-left: 15px;

} 
button{
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 15px;
    
} 
.button-checkout{
    background-color: white;
    color: black;
    border: 2px solid  #2196f3;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 15px;
        
   
}

header, main, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
.button-checkout:hover {
    background-color: #2196f3; /* blue */
    color: white;
    border: 2px solid  black;

}
.button-add {
    background-color: white;
    color: green;
    border: 2px solid #4CAF50;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
        
   }
     
 .button-add:hover {
       background-color: #4CAF50; /* Green */
       color: white;

   }